@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* At the top of your CSS file (e.g., globals.css) */




body {
  background-color: black; /* Set background to black */
  color: white; /* Set text color to white */
}

.glow-on-hover {
  transition: text-shadow 1s ease-in-out;
}

.glow-on-hover:hover {
  text-shadow: 0 0 5px #5E60CE, 0 0 10px #5E60CE, 0 0 15px #5E60CE,
               0 0 20px #5E60CE, 0 0 25px #5E60CE;
}
.neon-glow {
  text-shadow: 0 0 5px #FF0081, 0 0 10px #FB6794,
   0 0 15px #FF9ACD;
  transition: text-shadow 0.3s ease-in-out;
}

.neon-glow:hover {
  text-shadow: 0 0 5px #E6F2FF, 0 0 10px #8B79D9, 0 0 15px #6411AD;
}
.text-hover-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

.text-hover-effect::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  transition: top 0.5s;
}

.text-hover-effect:hover::before {
  top: 0;
}
